<input [(ngModel)]="query" type="text" />
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Country</th>
    <th>Flag</th>
    <th>Population</th>
    <th>Capital</th>
    <th>GDP</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <tr
    *ngFor="
      let country of countries | filter: 'name':query | sorting: 'population';
      let i = index
    "
  >
    <td>{{ i + 1 }}</td>

    <td *ngIf="editingIndex != i">
      <a [routerLink]="[country.name]">{{ country.name }}</a>
    </td>
    <td *ngIf="editingIndex == i">
      <fieldset class="form-group">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="editingCountry.name"
        />
      </fieldset>
    </td>

    <td *ngIf="editingIndex != i">
      <img height="25" [src]="country.flagURL" />
    </td>
    <td *ngIf="editingIndex == i">
      <fieldset class="form-group">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="editingCountry.flagURL"
        />
      </fieldset>
    </td>

    <td *ngIf="editingIndex != i">{{ country.population }}</td>
    <td *ngIf="editingIndex == i">
      <fieldset class="form-group">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="editingCountry.population"
        />
      </fieldset>
    </td>

    <td *ngIf="editingIndex != i">{{ country.capital }}</td>
    <td *ngIf="editingIndex == i">
      <fieldset class="form-group">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="editingCountry.capital"
        />
      </fieldset>
    </td>

    <td *ngIf="editingIndex != i">{{ country.gdp }}</td>
    <td *ngIf="editingIndex == i">
      <fieldset class="form-group">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="editingCountry.gdp"
        />
      </fieldset>
    </td>

    <td *ngIf="editingIndex != i">
      <button class="btn btn-info" (click)="setEdit(i)">Edit</button>
    </td>
    <td *ngIf="editingIndex == i">
      <button class="btn btn-info" (click)="doneEditing(i)">Done</button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteCountry(i)">Delete</button>
    </td>
  </tr>
</table>

<button class="btn btn-success" (click)="add = !add">Add new country!</button
><br />

<div class="well row" *ngIf="add">
  <div class="col-md-4">
    <fieldset class="form-group">
      <label>Name:</label>
      <input class="form-control" type="text" [(ngModel)]="new.name" />
    </fieldset>
    <fieldset class="form-group">
      <label>Population</label>
      <input class="form-control" type="text" [(ngModel)]="new.population" />
    </fieldset>
    <fieldset class="form-group">
      <label>Flag URL</label>
      <input class="form-control" type="text" [(ngModel)]="new.flagURL" />
    </fieldset>
    <fieldset class="form-group">
      <label>Capital</label>
      <input class="form-control" type="text" [(ngModel)]="new.capital" />
    </fieldset>
    <fieldset class="form-group">
      <label>GDP</label>
      <input class="form-control" type="text" [(ngModel)]="new.gdp" />
    </fieldset>
    <button class="btn btn-success" (click)="addCountry()">Add</button>
  </div>
</div>
