.user {
  font-weight: 500;
  color: #673ab7;
}

.card-header p {
  margin-bottom: 0;
}

.timestamp {
  font-weight: 500;
  color: #00897b;
}

.comment,
textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
}
