<div class="well">
    <div class="col-md-4">
        <fieldset class="form-group">
            <label>Name:</label>
            <input class="form-control" type="text" [(ngModel)]="country.name"/>
        </fieldset>
        <fieldset class="form-group">
            <label>Population</label>
            <input class="form-control" type="text" [(ngModel)]="country.population"/>
        </fieldset>
        <fieldset class="form-group">
            <label>Flag URL</label>
            <input class="form-control" type="text" [(ngModel)]="country.flagURL"/>
        </fieldset>
        <fieldset class="form-group">
            <label>Capital</label>
            <input class="form-control" type="text" [(ngModel)]="country.capital"/>
        </fieldset>
        <fieldset class="form-group">
            <label>GDP</label>
            <input class="form-control" type="text" [(ngModel)]="country.gdp"/>
        </fieldset>
    </div>
    <div>
        <button *ngIf="mode=='edit'" class="btn btn-warning">Finish editing</button>
        <button *ngIf="mode=='add'" class="btn btn-success">Add</button>
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
</div>