<div id="login-form">

    <h3>Login</h3>


    <fieldset class="form-group">

        <label>Username</label>
        <input class="form-control" type="text" ng-model="c.credentials.username" placeholder="Username"/>

    </fieldset>
    <fieldset class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" ng-model="c.credentials.password" placeholder="Password"/>

    </fieldset>


    <button class="btn btn-success" ng-click="c.login()">Login!</button>

    <div ng-show="c.desc" class="alert alert-warning">{{c.desc}}</div>



</div>